<h1>Product Details</h1>
<table border="1" style="text-align: center;">
    <tr>
        <th>Id</th>
        <th>Product Name</th>
        <th>price</th>
        <th>Discount</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Biscuts</td>
        <td>10 Rs</td>
        <td>2%</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Friuts</td>
        <td>100Rs</td>
        <td>8%</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Vegetables</td>
        <td>100Rs</td>
        <td>5%</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Rice</td>
        <td>150Rs</td>
        <td>5%</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Stanaries</td>
        <td>190Rs</td>
        <td>10%</td>
    </tr>

</table>
