<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>

<app-birthday></app-birthday><br>
<h1>Custom Pipe</h1>
<h2>Floor</h2>
<b>Floor value of 34.7 is = {{34.7 | floor}}</b>
<br>
<b>Floor value of 19.8 is = {{19.8 | floor}}</b>
<h2>Reverse a string</h2>
<b>Reverse of Venkatesh is ={{'Venkatesh' | reverse}}</b>
<br>