<h1>Today works!</h1>
<h4>Upper Case Pipe : {{title | uppercase}} </h4><br>
<h4>LowerCase Pipe : {{title| lowercase}}</h4><br>
<h2>Date Pipe</h2>
<h4>Short : {{TodayDate | date:'short'}} </h4>
<h4>Medium : {{TodayDate | date:'medium'}} </h4>
<h4>Long : {{TodayDate | date:'long'}} </h4>
<h4>Full: {{TodayDate | date:'full'}} </h4>
<h4>Short Date : {{TodayDate | date:'shortDate'}} </h4>
<h4>Medium Date : {{TodayDate | date:'mediumDate'}} </h4>
<h4>Long Date : {{TodayDate | date:'longDate'}} </h4>
<h4>Full Date : {{TodayDate | date:'fullDate'}} </h4>
<h4>Short Time : {{TodayDate | date:'shortTime'}} </h4>
<h4>Medium Time : {{TodayDate | date:'mediumTime'}} </h4>
<h4>Long Time : {{TodayDate | date:'longTime'}} </h4>
<h4>Full Time : {{TodayDate | date:'fullTime'}} </h4>